<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/images/logo.ico}">

    <title>JobsApp | Aplicación para publicar Ofertas de Trabajo.</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  </head>

  <body>

    <header th:insert="fragments/header.html :: header">
    </header>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h3>Encuentra el trabajo que buscas.</h3>
          Puedes buscar por descripción y categoría.
          <form class="form-inline">
            <input type="text" class="form-control mb-3" id="exampleFormControlInput1" placeholder="Escriba una búsqueda">&nbsp;
            <select class="custom-select custom-select mb-3">
              <option th:each="categoria : ${categorias}" th:text="${categoria.nombre}" 
              th:value="${categoria.idcategoria}" >
              </option>
              
            </select>&nbsp;
            <button type="submit" class="btn btn-primary mb-3">Buscar</button>
          </form>
        </div>
      </div>
      <hr>

      <div class="container"> 
        <h2 class="font-weight-bold text-center text-capitalize">OFERTAS DESTACADAS</h2>
        <hr>
        <div class="row" th:each="vacante : ${vacantes}" > 
          <div class="col-md-3"> 
          	<img class="rounded mx-auto d-block" th:src="@{/images/{img} (img=${vacante.images})}" alt="Generic placeholder image" width="220" height="220">            
          </div>
          <div class="col-md-9">
            <h4> <strong><span th:text="${vacante.nombre}"> </span></strong></h4>
            <h6> <strong>Categoría: </strong> <span class="card-title" th:text="${vacante.categoria.nombre}"></span></h6>
            <h6> <strong>Fecha publicación: </strong> <span class="card-title" th:text="${vacante.fecha}"></span></h6>
            <p th:text="${vacante.descripcion}"></p>
            <p><a class="btn btn-secondary" th:href="@{/vacantes/verDetalle/{id} (id=${vacante.id}) }" role="button">Ver Oferta &raquo;</a></p>            
          </div>
        </div> 
         <hr>	
      </div> <!-- /container -->

    </main>

    <footer th:insert="fragments/footer.html:: footer" class="footer">
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
  </body>